body{
  background-color: #00ddee;
  height: 100%; overflow: hidden;
}
/*[contenteditable]:focus {
    outline: 0px solid transparent;
}*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.col1{
  width: 23.33%;

  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 15%;
  float: left;
  display: flex;
  flex-direction: column;
}
.col1 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}
.col1 .child{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  order: 1;
  position: relative;

  cursor: grab;
}
.col1 .child .childcontent{
  float: left;
  margin: 10px;
  padding: 0px 14px 0px 5px;
}

.col1 .child .childlogo{
  float: right;
  margin: 10px;
  position: absolute;
  top : 0px;
  right:0px;
  visibility: hidden;
}
.child:hover .childlogo{
  visibility: visible;
}
.child:hover{
  background-color: #f6f6f6;
}
.childdrap{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  order: 1;
  position: relative;
  cursor: grab;
}
.childcontent{
  float: left;
  margin: 10px;
  padding: 0px 14px 0px 5px;
}
.childlogo{
  float: right;
  margin: 10px;
  position: absolute;
  top : 0px;
  right:0px;
  visibility: hidden;
}

.col1 .add{
  flex: 1;
  font-size: 1vw;
  font-weight: bold;
  color: #aaaaaa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  order: 10;
}
.add:hover{
  background-color: #dddddd;
}
.col1 .child1{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  order: 1;
  position: absolute;
  width: 23%;
  height: 100px;
  cursor: grab;
}
.col2{
  width: 23.33%;
  height: 400px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
}
.col2 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}
.col3{
  width: 23.33%;
  height: 400px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
}
.col3 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}

.test{
  width: 24px;
  margin: auto;
  border: 1px solid red;
}
