body{
  background-color: #f9f9f9;
  margin:0;
  padding:0;
}
.logo{
  min-width: 20px;
  min-height: 20px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}
.signin_title{
  font-family: Ubuntu;
  font-size: 2vh;
  text-align: center;
  margin-top: 2vh;
}
.box_login{
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-color: #999999;
  border-radius: 5px;
  width: 30vh;
  margin-top: 2vh;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.text_box_spacing{
  margin-top: 15px;
}
.input_login{
  border-radius: 5px;
  width: 100%;
  background-color: #ffffcc;
  padding: 10px;
}
.button_login{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.icon_login{
  float: left;
}

.container_content{
  background-color: #00ddee;
  height: 100%; overflow: hidden;
  margin:0;
  padding:0;
}
/*[contenteditable]:focus {
    outline: 0px solid transparent;
}*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.title{
  background-color: #00c0d0;
  margin-bottom: 1vh;
  width = 100%;
  text-align: center;
}
.title .title_logo{
  position: relative;
  font-family: Indie Flower;
  font-weight: bold;
  font-size: 3vw;
  display: inline-block;
}
.title_logo:hover{
  color: #cc0000;
}
.col1{
  width: 23.33%;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 15%;
  float: left;
  display: flex;
  flex-direction: column;
}
.col1 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 2vw;
  font-family: Ubuntu;
}
.child{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  order: 1;
  position: relative;
  cursor: grab;
  font-family: Mali;
}
.childcontent{
  float: left;
  margin: 10px;
  padding: 0px 14px 0px 5px;
}

.childlogo{
  float: right;
  margin: 10px;
  position: absolute;
  top : 0px;
  right:0px;
  visibility: hidden;
  cursor: pointer;
}
.child:hover .childlogo{
  visibility: visible;
}
.child:hover{
  background-color: #f6f6f6;
}
.childdrap{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  order: 1;
  position: relative;
  cursor: grab;
  transform: rotate(3deg);
}
*:focus {
    outline: none;
}
.childinput{
  float: left;
  margin: 10px;
  padding: 0px 20px 0px 5px;
  width: calc(100% - 20px*2);
  background-color:transparent;
  border: 0px solid;
  overflow-wrap: break-word;
  overflow: auto;
}
.childinput_logo{
  float: right;
  margin: 10px;
  position: absolute;
  top : 0px;
  right:0px;
  visibility: hidden;
  cursor: pointer;
}
.child:hover .childinput_logo{
  visibility: visible;
}
.col1 .add{
  flex: 1;
  font-size: 1vw;
  color: #aaaaaa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  order: 10;
}
.add:hover{
  background-color: #dddddd;
}

.col2{
  width: 23.33%;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
  display: flex;
  flex-direction: column;
}
.col2 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 2vw;
  font-family: Ubuntu;
}
.col2 .add{
  flex: 1;
  font-size: 1vw;
  color: #aaaaaa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  order: 10;
}


.col3{
  width: 23.33%;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
  display: flex;
  flex-direction: column;
}
.col3 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 2vw;
  font-family: Ubuntu;
}
.col3 .add{
  flex: 1;
  font-size: 1vw;
  color: #aaaaaa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  order: 10;
}
