body{
  background-color: #00ddee;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.col1{
  width: 23.33%;
  height: 100px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 15%;
  float: left;
  display: flex;
  flex-direction: column;
}
.col1 .parent{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  height: 50px;
  order: 1;
  position: relative;
}
.col1 .parent .child1{
  float: left;
  margin: 10px;
  padding: 10px;

}
.col1 .parent .icon1{
  float: right;
  margin: 10px;
  
  height: 50px;
  position: absolute;
  top : 0px;
  right:0px;
}
.col1 .parent .child2{
  position: fixed;
  float: right;

}
.col1 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}
.col1 .child{
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  height: 50px;
  order: 1;
}
.col1 .add{
  flex: 1;
  font-size: 1vw;
  font-weight: bold;
  color: #aaaaaa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  order: 10;
}
.add:hover{
  background-color: #dddddd;
}

.col2{
  width: 23.33%;
  height: 400px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
}
.col2 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}
.col3{
  width: 23.33%;
  height: 400px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-left: 1%;
  float: left;
}
.col3 .head{
  color: #6666aa;
  margin-left: 10%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Ubuntu;
}

.test{
  width: 24px;
  margin: auto;
  border: 1px solid red;
}
